.cadastro-form {
    height: 73vh;
    width: 35vw;
    margin: auto;
    margin-top: 1%;
}

.cadastro-form form {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FAFAD2;
    border-radius: 5px;
    animation-name: fade;
    animation-duration: 2s;
    overflow: hidden;
    box-shadow: 0 0 1em black;
} 


.cadastro-label label {
    display: flex;
    flex-direction: column;
    animation-name: move;
    animation-duration: 2s;
    color: green;
    font-weight: bold;
    font-size: 1.3em;
}



.cadastro-input input {
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 5px;
    height: 5vh;
    width: 52vh;
    margin-top: 5px;
    animation-name: move;
    animation-duration: 2s;
    
}

.cadastro-input input:hover {
    border: 1px solid green;
}
span {
    color: red;
    font-size: 0.8em;
    margin-top: 5%;
    position: absolute;
}


.submit-button button {
    height: 5vh;
    width: 25vh;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    animation-name: move;
    animation-duration: 2s;
    
}
.container {
    background-image: url('./../assets/fundoDesfocado1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 89vh;
}

.container img {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    padding-top: 2%;
    background-color: #579200;
    height: 8vh;
    color: white;
    font-size: 300%
}

.submit-button {
    padding-top: 7%;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}