

#items-wrapper {
    height: 80vh;
    width: 99.3vw;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 0;
    
}
#items-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#items {
    display: flex;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin-top: -40px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.direita {
    position: absolute;
    z-index: 1;
    text-align: right;
}

.item {
    flex: none;
    width: 100%;
    height: 48rem;
    scroll-snap-align: start;
    pointer-events: none;
    
}

.logout {
    position: relative;
    z-index: 1;
    margin: auto;
    padding-left: 10%;
    text-align: right;
}


.meio {
    margin-top: -5%;
    height: 80%;
    text-align: justify;
    font-size: 2rem;
    padding-left: 6rem;
    padding-top: 6rem;
    background-color: aliceblue;
    display: flex;
}


.sobre {
    margin-top: 7%;
    margin-right: 10%;
}



.plantaMeio img{
    margin-top: -9%;
    width: 82vh;
    margin-left: -5%;
}

