.products {
  margin-top: 50px;
  padding: 20px;
}

.products_loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.products_header h1 {
  text-align: center;
  color: rgb(93, 161, 93);;
}

.products_header_search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.products_header_search input {
  width: 20%;
  margin-left: -650px;
  border-radius: 5px;
  border-color: green;
  border-style: double;
}

.products_header_search input:hover {
  border-radius: 5px;
  border-style: double;  border-color: green;


}

.products_header a {
  border: none;
  background: rgb(93, 161, 93);
  color: #fff;
  padding: 20px 25px;
  border-radius: 15px;
  text-decoration: none;

}

.products_header a:hover {
  background: rgb(63, 105, 63);
  text-decoration: none;
  color: #fff;
}

.products_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;

}



.products_list ul {
  list-style-type: none;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products_list ul li {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.products_list ul li a img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.products_list ul li p {
  font-weight: 500;
  color: var(--gray-800);
  transition: color 0.5s;
}

.products_list ul li p span {
  font-weight: 300;
  color: var(--gray-500);

}

@media (min-width: 500px) {
  .products_list {
    margin: 2rem 0;
  }

  .products_list ul {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (min-width: 1280px) {
  .products_list {
    margin: 2rem 0;
  }

  .products_list ul {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
