.cadastro-form {
  height: 550px;
  width: 50%;
  /* margin: auto; */
  margin-top: 5%;
}

.cadastro-form h1 {
  text-align: center;
  padding-top: 2%;
  font-size: 30px;
  color: #579200;
  margin-bottom: 5px;
}

.cadastro-form form {
  height: 100%;
  width: 100%;
  /* display: flex; */
  gap: 0px;
  /* margin: auto; */
  /* margin-top: 1%; */
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #FAFAD2;
  border-radius: 5px;
  animation-name: fade;
  animation-duration: 2s;
  /* overflow: hidden; */
  box-shadow: 0 0 1em black;
}

.cadastro-input input {
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 5px;
  /* height: 5%; */
  /* width: 100%; */
  margin-top: 5px;
  /* animation-name: move;
  animation-duration: 2s; */
  margin-left: 0px;

}

input:hover {
  border: 1px solid #579200;
}
.cadastro-labelp label{
  display: flex;
  flex-direction: column;
  /* animation-name: move;
  animation-duration: 2s; */
  color: #579200;
  font-weight: bold;
  font-size: 16px;
  margin-left: 1px;

}

.button-criar button {
  height: 30px;
  width: 140%;
  background-color: #579200;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: -6px;
  margin-top: 20px;
  /* animation-name: move;
  animation-duration: 2s; */

}

.submit-button {
  padding-top: 7%;
}

#Up_img_label{
  background-color: #579200;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  /* margin-left: 0%; */
  display: inline-block;
  margin-top: 10px;
}
#icon_upload{
  color: white;
  width: 45%;
  height: 19px;
  margin-top: 4px;

}
.up-file{
  background-color: white;
  border-radius: 10px;
  width: 5px;
  min-width: 120px;
}

.id_img {
  border: none;
}
#output{
  border: none;
}
