.cadastro-form {
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;

}

.cadastro-form h1 {
  text-align: center;
  padding-top: 2%;
  font-size: 30px;
  color: #579200;
  margin-bottom: 5px;
}

.cadastro-form form {
  width: 100%;
  gap: 0px;
  flex-direction: column;
  background-color: #fafad2;
  border-radius: 5px;
  animation-name: fade;
  animation-duration: 2s;
  box-shadow: 0 0 1em black;
  padding: 15px;
}

.cadastro-input input {
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 5px;
  height: 40px;
  margin-top: 5px;
  width: 30%;
  margin-left: 0px;
}


input:hover {
  border: 1px solid #579200;
}
.cadastro-label  {
  display: flex;
  flex-direction: column;

  color: #579200;
  font-weight: bold;
  font-size: 16px;
  margin-left: 33%;
  margin-top: 2%;
  width: 60vw;
}

.cadastro-label-file {
  display: flex;
  flex-direction: column;
  color: #579200;
  font-weight: bold;
  font-size: 16px;
  margin-left: 33%;
  margin-top: 2%;
  width: 60vw;
}

.cadastro-label-file :hover {
  border: none;
}

.cadastro-label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #fff;
  border-radius: 5px;
  border: 0;
  width: 30%;
  padding: 16px;
  font-size: 16px;
  color: #6c6c80;
}

.button-criar button {
  height: 30px;
  width: 50%;
  background-color: #579200;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 5%;
}


#Up_img_label {
  background-color: #579200;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  /* margin-left: 0%; */
  display: inline-block;
  margin-top: 10px;
}
#icon_upload {
  color: white;
  width: 45%;
  height: 19px;
  margin-top: 4px;
}
.up-file {
  background-color: white;
  border-radius: 10px;
  width: 5px;
  min-width: 120px;
}

.id_img {
  border: none;
}
#output {
  border: none;
}
