.card {
    display: inline-block;
    height: 20vh;
    width: 20%;
    padding: 0;
    margin-left: 2%;
    margin-top: 5%;
    position: relative;
    z-index: 0;
}

.card-body {
    margin-left: 40%;
}

.card-img-top {
    height: 100%;
    width: 50%;
}

.botao {
    right: 5%;
    margin-top: 30%;
    position: relative;
}

.btn-sm {
    width: 3rem;
}

